<form action="/users" method="post">
    <label>Nombre</label>
    <input type="text" name="name">
    <label>Apellido</label>
    <input type="text" name="last_name">
    <label>Edad</label>
    <input type="text" name="age">
    <button>Registrar Usuario</button>
</form>

<%- include('./partials/history',{users}) %> 