{{#each newProducts}}
    <div>
        <img src={{image}} alt="">
        <h1>{{model}}</h1>
        <p>{{stock}}</p>
        <p>{{price}}</p>
    </div>
{{/each}}
<button id="added">Añadir al carrito</button>
<script src="./js/cart.js"></script>