
<div class="container-form">
    <div class="div-form">
            <form class="form-product" action="/products" method="post">
                     <div class="group-form">
                         <label>Nombre</label>
                         <input type="text" name="name">
                     </div>
                     <div class="group-form">
                          <label>Precio</label>
                          <input type="text" name="price">
                    </div>
                     <div class="group-form">
                          <label>Imagen Referencia</label>
                          <input type="url" name="image">
                     </div>
                    <input class="btn" type="submit" value="Registrar">
            </form>
          <div class="see">
             <a href='/'>
                <button class="btn">Ver Producto</button>
            </a>
         </div>
    </div>
    
</div>
