<h1>login</h1>
<div id="welcome"></div>
<form id="loginForm">   
    <div>
        <label>Email</label>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit">enviar</button>
</form>
<div>
    <p>iniciar session con github:</p>
    <a href="/api/sessions/github">GITHUB</a>
</div>
<script src="/login.js"></script>