<h1>register</h1>

<form id="registerForm">
    <div>
        <label>First Name</label>
        <input type="text" name="first_name" placeholder="First Name">
    </div>
        <div>
        <label>Last Name</label>
        <input type="text" name="last_name" placeholder="Last Name">
    </div>
        <div>
        <label>Email</label>
        <input type="text" name="email" placeholder="Email">
    </div>
    <div>
        <label>Password</label>
        <input type="password" name="password" placeholder="Password">
    </div>
    <button type="submit">enviar</button>
</form>
<p>Ya te resgistraste? <a href="./login">logueate aqui</a></p>
<script type="module" src="/registerUser.js"></script>